# requirements.txt (atualizado)
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.10.3
#pydantic-core==2.14.6
python-jose[cryptography]==3.3.0
cryptography==41.0.7
python-multipart==0.0.6
openpyxl==3.1.2
requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
lxml==4.9.3